*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
}
#id{
    width: 60px;
}
.container1 div{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #2E374C;
    background-color: #FFF;
}
.container1 div img{
    height: 97px;
    width: 50%;
    margin: 0 12%;
}
.container1 a{
    list-style-type: none;
}
.container1{
    height: 1050px;
    background-color: aliceblue;
    width: 15%;
}
.container1 ul li{
    font-size: 1.2rem;
    background-color: aliceblue;
    margin: 2px;
    font-weight: bold;
    border-bottom: 1px solid #2E374C;
    color: #2E374C;
    padding: 7% 10%;
}
.container1 ul li:hover{
    background-color: #2E374C;
    color: #FFF;
}
.container1 ul .principal{
    background-color: #2E374C;
    color: #FFF;
    font-weight: bold;
}
.container2{
    height: 100px;
    width: 85%;
}
.container2-element{
    background-color: #2E374C;
    height: 100px;
    width: 100%;
}
a{
    text-decoration: none;
}

.container2-element2{
    width: 96%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0.1px 0.2px 3px 0.2px #11A076;
    margin: 2%;
}
.container2-element2 h3{
    padding: 30px;
    font-weight: 400;
}

.container1 i{
    padding: 5%;
}
table{
    width: 80%;
    margin: 2% auto;
    color: #FFF;
    font-weight: bold;
}
table, th, td {
    height: 50px;
    border-collapse: collapse;
    background-color: #2E374C;
    text-align: center;
}
td{
    width: 18%;
}
.table1{
    border: 1px solid #2E374C;
}
.table1 td{
    color: #000;
    background-color: #FFF;
    font-weight: 100;
}
.table1 span{
    margin: 10px;
}
.table1 i{
    font-size: 20px;
}
.modifier{
    color: #11A076;
}
.suprimer{
    color: red;
}

.reponse{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.632);
    background-color: #fff;
}
#modiTravailleur{
    color: #11A076;
}
#suprimerTravailleurs{
    color: red;
}
.block input{
    height: 40px;
    width: 400px;
    border: 1px solid #FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.block span{
    padding: 10px;
    background-color: #FFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 2px solid #FFF;
}
.block{
    height: 70px;
    width: 500px;
    padding: 30px;
    float: right;
}
.container2-element2{
    width: 80%;
    height: 430px;
    box-shadow: 0.1px 0.2px 5px 0.2px #11A076;
    margin: 3% auto;
}
.container2-element2 h3{
    text-align: center;
    padding: 20px;
}
.container2-element2 .itemsLab{
    display: flex;
    height: 320px;
    width: 60%;
    margin: 2% auto 1%;
}
.itemsLab .label-item{
    padding: 10px;
}
.input-div input::placeholder{
    left: 10px;
    position: relative;
}
.input-div input{
    height: 43px;
    border: 1px solid #11a0756a;
    margin: 2px 0;
    border-radius: 5px;
    width: 600px;
}
.label-item label{
    font-size: 1.1rem;
    line-height: 2.5;
}
#submit{
    float: right;
    border: 1px solid #2E374C;
    height: 60px;
    width: 200px;
    margin: 10px;
    color: #fff;
    background-color: #11A076;
}
#submit:hover{
    color: #2E374C;
    border: 1px solid #2E374C;
    background-color: #fff;
}