*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
}

.container2{
    height: 100px;
    width: 85%;
}
.container2-element{
    background-color: #2E374C;
    height: 100px;
    width: 100%;
}
a{
    text-decoration: none;
}
.container1 div{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #2E374C;
    background-color: #FFF;
}
.container1 div img{
    height: 97px;
    width: 50%;
    margin: 0 12%;
}
.container1 a{
    list-style-type: none;
}
.container1{
    height: 1050px;
    background-color: aliceblue;
    width: 15%;
}
.container1 ul li{
    font-size: 1.2rem;
    background-color: aliceblue;
    margin: 2px;
    font-weight: bold;
    border-bottom: 1px solid #2E374C;
    color: #2E374C;
    padding: 7% 10%;
}
.container1 ul li:hover{
    background-color: #2e374c86;
    color: #FFF;
}
.container1 ul .principal{
    background-color: #2E374C;
    color: #FFF;
    font-weight: bold;
}

#recherche{
    height: 45px;
    width: 25%;
    margin: 25px;
    float: right;
}
.admin-img{
    height: 150px;
    width: 200px;
    margin: 10% 25% 30% 18%;
}
.admin-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
}
.container1 i{
    padding: 5%;
}
.class {
    text-align: center;
    display: flex;
    height: 50px;
    background-color: #FFF;

}
.encadre{
    height: 700px;
    margin: 3% auto;
    width: 75%;
}
.class a{
    color: #FFF;
    height: 50px;
    width: 25%;
    padding: 15px;
    background-color: #11A076;
    border-left: 1px solid #FFF;
}
.class .choix{
    color: #2E374C;
    background-color: #FFF;
    border: 1px solid #11A076;
}


table{
    width: 98%;
    margin: 2.5% auto;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #2E374C;
}
table, tr, td {
    height: 50px;
    border-collapse: collapse;
    background-color: #2E374C;
    text-align: center;
}
td{
    width: 20%;
}