*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
}
.container1{
    height: 1050px;
    color: #11A076;
    width: 15%;
    background-color: aliceblue;
}
.container2{
    height: 100px;
    width: 85%;
}
.container2-element{
    background-color: #2E374C;
    height: 100px;
    width: 100%;
}
a{
    text-decoration: none;
}
.container1 div{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #2E374C;
    background-color: #FFF;
}
.container1 div img{
    height: 97px;
    width: 50%;
    margin: 0 12%;
}
.container1 a{
    list-style-type: none;
}
.container1 ul li{
    font-size: 1.2rem;
    background-color: aliceblue;
    margin: 2px;
    font-weight: bold;
    border-bottom: 1px solid #2E374C;
    color: #2E374C;
    padding: 7% 10%;
}
.container1 ul li:hover{
    background-color: #2E374C;
    color: #FFF;
}
.container1 ul .principal{
    background-color: #2E374C;
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

#recherche{
    height: 45px;
    width: 25%;
    margin: 25px;
    float: right;
}
.container1 i{
    padding: 5%;
}

.profil{
    width: 95%;
    margin: 2% 4.5%;
    display: flex;    
    flex-wrap: wrap;
}
.profil div{
    height: 230px;
    padding: 20px;
    width: 30%;
    margin: 1%;
    border-radius: 5px;
    background-color: #2E374C;
    border: 1px solid #2E374C;
    /* background-color: #11A076; */

}
.profil h1{
    font-size: 1.5rem;
    margin: 15px;    
    font-weight: 500;
    color: #FFF;
}
.profil p{
    color: #FFF;
    line-height: 1.3;
    font-size: 1.1rem;

    padding: 10px;
}
.profil i{
    color: #FFF;
    float: right;
}